In [1]:
import pandas as pd  # data cleaning , data preprocessing etc
import numpy as np # mathematical calculation
import matplotlib.pyplot as plt ## data visualization
import seaborn as sns     ## data visualization

In [2]:
flight = pd.read_excel("Data_Train.xlsx") 
flight.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
flight.shape

(10683, 11)

In [4]:
flight["Additional_Info"].value_counts()

No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

In [5]:
round((8348 / len(flight["Additional_Info"])) * 100 , 2)

78.14

In [6]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [7]:
flight.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
flight.dropna(inplace=True)

In [9]:
flight.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [10]:
flight.shape

(10682, 11)

In [ ]:
flight["Airline"].value_counts()

In [ ]:
#df = flight.set_index('Airline' , inplace = False)
#flight = df.drop(["Jet Airways" ,"Jet Airways Business"] )
#flight.shape

In [ ]:
flight.head()

In [ ]:
df = flight.set_index('Airline' , inplace = False)
flight = df.drop('Trujet')

In [ ]:
flight.reset_index(inplace = True)

In [ ]:
flight["Airline"].unique()

In [ ]:
flight["journey_day"] = pd.to_datetime(flight.Date_of_Journey , format = "%d/%m/%Y").dt.day
flight["journey_month"] = pd.to_datetime(flight.Date_of_Journey , format = "%d/%m/%Y").dt.month

In [ ]:
flight.drop("Date_of_Journey" , axis = 1 , inplace = True)

In [ ]:
flight.head()

In [ ]:
# Extracting hours 
flight["Dep_hour"] = pd.to_datetime(flight.Dep_Time ).dt.hour
flight["Dep_minutes"] = pd.to_datetime(flight.Dep_Time ).dt.minute

In [ ]:
flight.head()

In [ ]:
flight.drop("Dep_Time" , axis = 1 , inplace = True)

In [ ]:
flight.head()

In [ ]:
flight["Arrival_hour"] = pd.to_datetime(flight.Arrival_Time ).dt.hour
flight["Arrival_minutes"] = pd.to_datetime(flight.Arrival_Time ).dt.minute

In [ ]:
flight.drop("Arrival_Time" , axis = 1 , inplace = True)

In [ ]:
flight.head()

In [ ]:
duration = list(flight["Duration"])
hours = []
minutes = []
for i in duration:
    if " " in i:   
        a , b = i.split(" ")
        hours.append(int(a[:-1]))
        minutes.append(int(b[:-1]))
    else:
        hours.append(int(i[0:-1]))
        minutes.append(0)

In [ ]:
flight["Duration_hours"] = hours
flight["Duration_minutes"] = minutes

In [ ]:
flight.drop("Duration" , axis = 1 , inplace = True)

In [ ]:
flight.head()

In [ ]:
flight["Airline"].value_counts()

In [ ]:
sns.catplot(x="Airline" , y = "Price" , data=flight.sort_values("Price" ,ascending = False ) , kind= "bar" , height=10)

In [ ]:
Airline = pd.get_dummies(flight["Airline"] , drop_first=True)
pd.set_option('display.max_rows', None)
Airline.tail()

In [ ]:
sns.catplot(x="Source" , y = "Price" , data = flight.sort_values("Price" ,ascending = False ) , kind= "bar")

In [ ]:
flight["Source"].value_counts()

In [ ]:
flight["Source"].unique()

In [ ]:
flight["Source"].replace({"Banglore" : "S_Banglore" , "Kolkata" : "S_Kolkata" , "Delhi" : "S_Delhi",
                        "Chennai":"S_Chennai" , "Mumbai" : "S_Mumbai" } , inplace = True)

In [ ]:
Source = flight["Source"]
Source = pd.get_dummies(Source , drop_first=True)
Source.head()

In [ ]:
#flight["Source"].replace({"S_Banglore" : 2 , "S_Kolkata" : 3, "S_Delhi" : 4 , "S_Chennai" : 0,  "S_Mumbai" : 1 } , inplace = True)

In [ ]:
sns.catplot(x="Destination" , y = "Price" , data=flight.sort_values("Price" ,ascending = False ) , kind= "bar")

In [ ]:
flight["Destination"].unique()

In [ ]:
flight["Destination"] = flight["Destination"].replace({"New Delhi" : "D_New_Delhi" , "Banglore" : "D_Banglore", "Cochin" : "D_Cochin",
                             "Kolkata" : "D_Kolkata" , "Delhi" : "D_Delhi" , "Hyderabad" : "D_Hyderabad"} )

In [ ]:
Destination = flight["Destination"]
Destination = pd.get_dummies(Destination , drop_first=True)
Destination.head()

In [ ]:
flight["Total_Stops"].value_counts()

In [ ]:
sns.barplot(x = "Total_Stops", y = "Price", data = flight, order = ["non-stop", "1 stop", "2 stops", "3 stops", "4 stops"])

In [ ]:
# categorical_variable = []
# for feature in flight.columns:
#     if flight[feature].dtypes == 'O':
#         categorical_variable.append(feature)
# print(categorical_variable)

In [ ]:
# for feature in categorical_variable:
#     flight.groupby(feature)["Price"].median().plot.bar()
#     plt.xlabel(feature , fontsize = 15)
#     plt.ylabel("Price" , fontsize = 20)
#     plt.figure(figsize=(16, 9))
#     plt.show()

In [ ]:
flight["Additional_Info"].value_counts()

In [ ]:
flight["Total_Stops"].replace({"non-stop" : 0, "1 stop" : 1, "2 stops" : 2, "3 stops" : 3, "4 stops" : 4}, inplace=True)

In [ ]:
flight.head()

In [ ]:
flight.drop(["Route", "Airline", "Destination", "Source", "Additional_Info"], axis = 1, inplace = True)

In [ ]:
flight.head()

In [ ]:
flight = pd.concat([Airline, Destination, Source, flight], axis = 1)

In [ ]:
flight.head()

In [ ]:
pd.set_option('display.max_columns', None)
flight.head()

# Preprocessing for Test Data

In [ ]:
test = pd.read_excel("Test_Set.xlsx")
test.shape

In [ ]:
test.dropna(inplace=True) # Dropping all rows with null values

# We are extracting days and month from Date_of_Journey
test["journey_day"] = pd.to_datetime(test.Date_of_Journey , format = "%d/%m/%Y").dt.day 
test["journey_month"] = pd.to_datetime(test.Date_of_Journey , format = "%d/%m/%Y").dt.month

test.drop("Date_of_Journey" , axis = 1 , inplace = True) # Dropping Date_of_Journey because we already extracted days and month

# Extracting departure hours and departure minutes from departure time 
test["Dep_hour"] = pd.to_datetime(test.Dep_Time ).dt.hour
test["Dep_minutes"] = pd.to_datetime(test.Dep_Time ).dt.minute

test.drop("Dep_Time" , axis = 1 , inplace = True) # Dropping Dep_Time as we already extracted hours and minutes from data

# Extracting arrival hours and arrival minutes from arrival time
test["Arrival_hour"] = pd.to_datetime(test.Arrival_Time ).dt.hour
test["Arrival_minutes"] = pd.to_datetime(test.Arrival_Time ).dt.minute

test.drop("Arrival_Time" , axis = 1 , inplace = True) # Dropping Arrival_Time as we already extracted hours and minutes

# Extracting duration hours and minutes from Duration
duration = list(test["Duration"])
hours = []
minutes = []
for i in duration:
    if " " in i:   
        a , b = i.split(" ")
        hours.append(int(a[0:-1]))
        minutes.append(int(b[0:-1]))
    else:
        hours.append(int(i[0:-1]))
        minutes.append(0)
        
test["Duration_hours"] = hours
test["Duration_minutes"] = minutes

test.drop("Duration" , axis = 1 , inplace = True) # Dropping Duration as we already extracted hours and minutes

# Handling Categorical Variables

# Creating dummy variables for Airline | Airline is Nominal variable. 
Airline = test["Airline"]
Airline = pd.get_dummies(Airline , drop_first=True)

# Creating dummy variables for Source | Source is Nominal variable.
test["Source"].replace({"Banglore" : "S_Banglore" , "Kolkata" : "S_Kolkata" , "Delhi" : "S_Delhi",
                        "Chennai":"S_Chennai" , "Mumbai" : "S_Mumbai" } , inplace = True)
Source = test["Source"]
Source = pd.get_dummies(Source , drop_first=True)

# Creating dummy variables for Destination | Destination is Nominal variable. 
test["Destination"].replace({"New Delhi" : "D_New_Delhi" , "Banglore" : "D_Banglore", "Cochin" : "D_Cochin",
                             "Kolkata" : "D_Kolkata" , "Delhi" : "D_Delhi" , "Hyderabad" : "D_Hyderabad"} , inplace = True)
Destination = test["Destination"]
Destination = pd.get_dummies(Destination , drop_first=True)

# Giving ranks to total stops | Total_Stops is Ordinal data. 
test.replace({"non-stop" : 0, "1 stop" : 1, "2 stops" : 2, "3 stops" : 3, "4 stops" : 4}, inplace=True)

# Dropping all previously extracted data variables
# Dropping additional_info because almost 80% of data is missing.
test.drop(["Route", "Airline", "Destination", "Source", "Additional_Info"], axis = 1, inplace = True)

# Concatenating datetime varibales with categorical variables
test = pd.concat([Airline, Destination, Source, test], axis = 1)

In [ ]:
test.shape

In [ ]:
test.head()

In [ ]:
flight.shape # One column is extra which is price [Target Variable]

In [ ]:
test.shape # One column is less because price is missing which we have to find.

## Splitting Dependent and Independent Variables

In [ ]:
x = flight.drop("Price" , axis = 1)
y = flight["Price"]

In [ ]:
x.columns

## Feature selection

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
Reg = ExtraTreesRegressor()
Reg.fit(x, y)

In [ ]:
print(Reg.feature_importances_)

In [ ]:
x.columns

In [ ]:
plt.figure(figsize = (18,7))
a = pd.Series(Reg.feature_importances_, index = x.columns)
a.plot.barh()

# Model Building

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
from sklearn.metrics import mean_squared_error # for calculating mean_squared error
from sklearn.metrics import r2_score # for measering the goodness of best fit line

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
Forest = RandomForestRegressor()
Forest.fit(X_train, y_train)

y_pred = Forest.predict(X_test)

score = r2_score(y_test, y_pred)

print(f"accuracy of the model is  {score}")

print('RMSE for Linear Regression < =',np.sqrt(mean_squared_error(y_test,y_pred)))

In [ ]:
prediction = Forest.predict(test)
prediction

In [ ]:
import xgboost
xgb_model = xgboost.XGBRegressor()
xgb_model.fit(X_train,y_train)

prediction = xgb_model.predict(X_test)

score = r2_score(y_test,prediction)

print(f"accuracy of the model is  {score}")

print('RMSE for Linear Regression < =',np.sqrt(mean_squared_error(y_test,prediction)))

In [ ]:
from sklearn.model_selection import cross_val_score
cross_validation = cross_val_score(estimator = xgb_model, X = X_train,y = y_train, cv = 10)
print("Cross validation accuracy of random forest model = ", cross_validation)
print("\nCross validation mean accuracy of random forest model = ", cross_validation.mean())

## Hyperparameter tuning with Random Forest

In [ ]:
## Hyperparameter optimization using RandomizedSearchCV
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [ ]:
params = {
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [ ]:
random_search = RandomizedSearchCV(Forest,param_distributions=params,n_iter=5,scoring='r2',n_jobs=-1,cv=5)

## Hyperparameter tuning with XGboost

In [ ]:
# params = {
#         'learning_rate': [0.01, 0.1],
#         'max_depth': [3, 5, 7, 10],
#         'min_child_weight': [1, 3, 5],
#         'subsample': [0.5, 0.7],
#         'colsample_bytree': [0.5, 0.7],
#         'n_estimators' : [100, 200, 500],
#         'objective': ['reg:squarederror']
#     }

In [ ]:
random_search = RandomizedSearchCV(xgb_model,param_distributions = params,n_iter=5 , scoring='r2',n_jobs=-1,cv=5,verbose=3)

In [ ]:
from sklearn.model_selection import cross_val_score
cross_validation = cross_val_score(estimator = random_search, X = X_train,y = y_train, cv = 10)
print("Cross validation accuracy of random forest model = ", cross_validation)
print("\nCross validation mean accuracy of random forest model = ", cross_validation.mean())

In [ ]:
import pickle
 
# # Save the trained model as a pickle string.
pickle.dump(xgb_model ,  open('model.pkl', 'wb'))

  
# Load the pickled model
model = pickle.load(open('model.pkl', 'rb'))

  
# #Use the loaded pickled model to make predictions
model.predict(test)